<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>rwx</servlet-name>
        <servlet-class>org.ssoward.websocket.RWXWebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rwx</servlet-name>
        <url-pattern>/rwx</url-pattern>
    </servlet-mapping>

</web-app>
